.yuu-theme-dark {
	color: $darkTextColor;
	background-color: $darkPrimaryBg;

	hr {
		border-top-color: $darkBorderColor;
	}

	.content {
		code {
			color: $purple;
			background-color: $darkSecondaryBg;
		}

		a code {
			color: $accentColor;
		}
	}

	tr {
		border-top-color: $darkBorderColor;

		&:nth-child(2n) {
			background-color: $darkSecondaryBg;
		}
	}

	th, td {
		border-color: $darkBorderColor;
	}
}
