// TODO: Move most of these styles (e.g. `.navbar`, `.sidebar`, etc.) to their respective components
// once the <style> tags inside them are linted, or lint them as you go.

.dark {
	color: $darkTextColor;
	background-color: $darkPrimaryBg;

	p a code {
		color: $darkPrimaryBg;
	}

	.navbar {
		color: $darkTextColor;
		background-color: $darkPrimaryBg;
		border-bottom-color: $darkBorderColor;

		.links {
			background-color: $darkPrimaryBg;
		}

		.site-name {
			color: $darkTextColor;
		}
	}

	.sidebar {
		background-color: $darkPrimaryBg;
		border-right-color: $darkBorderColor;
	}

	a.sidebar-link {
		color: $darkAltTextColor;
	}

	.custom-block {
		&.tip {
			background-color: alpha(#42b983, 0.25);
		}

		&.warning {
			color: $darkTextColor;
			background-color: alpha(darken(#ffe564, 15%), 0.25);

			.custom-block-title {
				color: darken(#ffe564, 15%);
			}

			a {
				color: $darkTextColor;
			}
		}

		&.danger {
			color: $darkTextColor;
			background-color: alpha(darken(red, 10%), 0.25);

			.custom-block-title {
				color: darken(red, 10%);
			}

			a {
				color: $darkTextColor;
			}
		}
	}

	.content {
		code {
			background-color: $darkSecondaryBg;
		}
	}

	tr:nth-child(2n) {
		background-color: $darkSecondaryBg;
	}

	.page-nav .inner {
		border-top-color: $darkBorderColor;
	}
}
