.dark.red {
	a.sidebar-link {
		color: $darkAltTextColor;
	}
}

.red {
	a,
	p a code {
		color: $redAccentColor;
	}

	a.sidebar-link {
		color: $textColor;

		&:hover {
			color: $redAccentColor;
		}

		&.active {
			color: $redAccentColor;
			border-left-color: $redAccentColor;
		}
	}

	.content {
		a code {
			color: $redAccentColor;
		}
	}
}
