$tipGreen = #42b983;
$warningYellow = #ffe564;
$dangerRed = #c00;

.custom-block {
	.custom-block-title {
		font-weight: 600;
		margin-bottom: -0.4rem;
	}

	&.tip, &.warning, &.danger {
		padding: 0.1rem 1.5rem;
		border-left-width: 0.5rem;
		border-left-style: solid;
		margin: 1rem 0;
	}

	&.tip {
		background-color: lighten($tipGreen, 85%);
		border-color: $tipGreen;
		color: darken($tipGreen, 50%);

		.custom-block-title {
			color: darken($tipGreen, 20%);
		}

		a {
			color: $tipGreen;
		}
	}

	&.warning {
		background-color: rgba(255, 229, 100, 0.3);
		border-color: darken($warningYellow, 35%);
		color: darken($warningYellow, 70%);

		.custom-block-title {
			color: darken($warningYellow, 50%);
		}

		a {
			color: darken($warningYellow, 40%);
		}
	}

	&.danger {
		// background-color: #ffe6e6;
		background-color: lighten($dangerRed, 90%);
		border-color: $dangerRed;
		color: darken($dangerRed, 50%);

		.custom-block-title {
			color: $dangerRed;
		}

		a {
			color: lighten($dangerRed, 15%);
		}
	}
}

.dark {
	.custom-block {
		&.tip {
			color: lighten($tipGreen, 50%);
			background-color: alpha($tipGreen, 0.25);

			.custom-block-title {
				color: lighten($tipGreen, 20%);
			}
		}

		&.warning {
			color: lighten($warningYellow, 40%);
			background-color: alpha($warningYellow, 0.25);

			.custom-block-title {
				color: darken($warningYellow, 20%);
			}

			a {
				color: darken($warningYellow, 10%);
			}
		}

		&.danger {
			color: lighten($dangerRed, 50%);
			background-color: alpha($dangerRed, 0.25);

			.custom-block-title {
				color: lighten($dangerRed, 30%);
			}

			a {
				color: lighten($dangerRed, 20%);
			}
		}
	}
}
